<h1>Pages#index</h1>
<% @characters.each do |c| %>
    <div>
        <h2> Nombre : <%= c.name %> </h2>
        <h3> Localización:  <%= c.location %> </h3>
        <p>  Pertenece a :  <%= c.house %></p>
    </div>
    <hr>
<% end %>
